@import '../_variables.scss';
@import '../mixins';

.DASHBOARD_CONTAINER {
    height: 100vh;
    @include flexbox(column, flex-start, center);

    &>section {
        height: 80%;
        width: 99%;
        margin-top: 10px;
        border-radius: 10px;
        border: 1px solid $jet;
        background-color: $ghost-white;

        &>div {
            display: grid;
            grid-template-rows: 1fr 5fr;

            &>section {
                display: grid;
                
                &:nth-child(1) {
                    grid-template-columns: 2fr 1fr;

                    &>div {
                        &:nth-child(1) {
                            display: grid;
                            grid-template-rows: 2fr 1fr;
                            >header {
                                @include flexbox(row, initial, center);
                            }
                        }
                    }
                }
                &:nth-child(2){
                    grid-template-columns: repeat(2, minmax(0, 1fr));
                    align-items: flex-end;
                    &>div{
                        justify-self: center;
                        width: 95%;
                        height: 80%;
                        border-radius: 10px;
                        border: 1px solid $jet;
                        background-color: $ghost-white;
                    }
                }
            }
        }
    }
}