@import '../variables';

.masonryGrid {
  display: flex;
  margin-left: -16px; // gutter size offset
  width: auto;
  overflow: auto; // allow scrolling

  // Hide scrollbar for Chrome, Safari and Opera
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  // Hide scrollbar for Firefox
  scrollbar-width: none;

  // Hide scrollbar for IE & Edge
  -ms-overflow-style: none;
}

.masonryGridColumn {
  padding-left: 16px;
  background-clip: padding-box;
}


.LandingPage {
  &>div {
    &:nth-child(2) {
      &>div {
        height: 35rem;
        border: 1px solid $midnight-green;

        background-color: $ghost-white;

        &>div {
          height: 100%;
          display: grid;
          grid-template-rows: 1fr 4fr 1fr;
          padding: 1rem;
          &>div {
            &:nth-child(1) {
              display: grid;
              grid-template-rows: 2fr 2fr;
              
              &>header {
                display: flex;
                align-items: center;
                font-size: 1.5rem;
                font-weight: 700;
              }

              &>h2 {
                display: flex;
                align-items: flex-end;
                font-weight: 600;
                color: $midnight-green;
              }
            }

            &:nth-child(2) {
              display: grid;
              grid-template-rows: 0.5fr 1fr 1fr 1fr;

              &>div {
                // border: 2px solid red;
                display: flex;
                align-items: flex-end;

                // &:nth-child(1) {}

                &:nth-child(2),
                &:nth-child(3),
                &:nth-child(4) {
                  flex-direction: column;
                  align-items: flex-start;
                  justify-content: flex-end;

                  &>div {
                    height: 40%;
                    width: 90%;
                  }
                }
              }
            }

            &:nth-child(3) {
              justify-content: flex-start;
              align-items: center;

              >button {
                height: 50%;
              }
            }
          }
        }
      }
    }

  }
}