@import '../_mixins.scss';
@import '../variables';
.ERROR_MODAL,.SUCCESS_MODAL{
    display: grid;
    grid-template-columns: 4fr 1fr;
    position: absolute;
    inset-block-start: 1.5rem; inset-inline-end: 1rem;
    block-size: auto;
    inline-size: 33%;
    border-radius: 0.5rem;
    

    background-color: $oxfordBlue;
    box-shadow: 0 0 8px $oxfordBlue;
    &>section{
        &:nth-child(1){
            padding: 1rem;
            &>div{
                &:nth-child(2){
                    font-size: 14px;
                }
            }
        }
        &:nth-child(2){
            @include flex_center;
            justify-content: flex-end;
            >button{
                block-size: 100%;
                border-start-start-radius: 0;
                border-end-start-radius: 0;
            }
        }
    }
}