@import '../_variables.scss';
@import '../mixins';


.NAVBAR {
    display: grid;
    grid-template-rows: 3fr 2fr;
    height: clamp(#{2rem}, #{12vh}, #{12vh});

    >.NAV_SEC_1 {
        background-color: $bronze;
        display: grid;
        grid-template-columns: 1fr 3fr 2fr;
        height: 100%;
        width: 100%;

        &>div {
            height: inherit;

            &:nth-child(1) {
                order: 1;
                @include flex-center;
            }

            &:nth-child(2) {
                //div group-1
                order: 2;

                >section {
                    @include flex-center;
                    width: inherit;
                    height: inherit;

                    >div {
                        width: 60%;
                        height: 80%;
                        border-top-right-radius: 0;
                        border-bottom-right-radius: 0;
                        border-right: 0;
                    }

                    &>a {
                        border-bottom-left-radius: 0;
                        border-top-left-radius: 0;
                    }
                }

            }

            &:nth-child(3) {
                display: inherit;
                grid-template-columns: 1fr 0;
                height: inherit;
                order: 3;

                &>div {

                    &:nth-child(1) {
                        @include flexbox(row, flex-end, center);


                        >button {
                            &:nth-child(1) {
                                width: auto;
                            }
                        }
                    }

                    &:nth-child(2) {
                        // @include flex-center;
                        display: none;

                        >div {
                            display: none;
                            border-radius: 10px;

                        }
                    }

                }
            }


        }

    }

    >.NAV_SEC_2 {
        background-color: $ghost-white;
        border: 1px solid rgb(139, 132, 132);
        display: grid;
        grid-template-columns: 4fr 1fr;

        &>div {
            color: $jet;
            font-size: 13px;
            font-weight: 600;

            &>a {
                color: $jet;
                text-decoration: none;

                &:hover {
                    color: $burnt-umber;
                    text-decoration: underline;
                }
            }
        }
    }
}

@media only screen and (max-width:768px) {
    .NAVBAR {

        display: grid;
        height: clamp(#{2rem}, #{12vh}, #{15vh});
        grid-template-rows: 3fr 2fr;
        width: 100%;

        >.NAV_SEC_1 {
            display: grid;
            grid-template-columns: 1fr auto !important;
            padding: 0 10px;

            &>div {

                //make selectors for all three childs
                &:nth-child(1) {
                    @include flexbox(row, flex-start, center);

                    &>div {}
                }

                &:nth-child(2) {
                    display: none;
                }

                &:nth-child(3) {
                    grid-template-columns: 1fr auto;

                    &>div {
                        &:nth-child(2) {
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            &>div {
                                border-radius: 10px;
                            }
                        }
                    }
                }

            }
        }



        >.NAV_SEC_2 {
            width: 100%;
            position: relative;
            grid-template-columns: none;

            &>div {
                &:nth-child(1) {
                    flex-direction: column;
                    padding: 0;
                    align-items: flex-start;
                    &>a{
                        padding: 0;
                        margin: 0;
                    }
                }
            }
        }
    }
}