.navigation_bar{
    display: grid;
    grid-template-columns: 7fr 1fr;
    height: 12vh;
    &>div{
        &:first-child{
            display: flex;
            align-items: center;
        }
        &:last-child{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
        }
    }
}