@import '../../variables';
@import '../../mixins';


.USED_CAR {
    block-size: 120vh;
    display: grid;
    grid-template-columns: 1fr 4fr;

    &>div {
        &:nth-child(1) {
            background-color: $periwinkle;

            &>div {
                block-size: 2.5rem;
                border-radius: 0.5rem;
                padding: 0 10px;
                background-color: $bronze;
                border: 2px solid $cerulean;
                @include flexbox(row, flex-start, center);
                //Add click event to this div

                &:hover {
                    background-color: $ghost-white;
                    border: 2px solid $emerald;
                    box-shadow: 0px 0px 2px $emerald;
                    transition: all 0.2s ease-in-out;
                    cursor: pointer;

                }
            }
        }

        &:nth-child(2) {
            &>div {
                block-size: 100%;
                border: 1px solid $periwinkle;
                display: flex;
                flex-direction: column;

                &:nth-child(1) {
                    padding: 0 16px;

                    &>div {
                        &:nth-child(1) {
                            block-size: 5rem;

                            &>header {
                                block-size: 100%;
                                @include flexbox(column, center, flex-start);
                            }
                        }
                    }
                }

            }
        }
    }
}

.ownerInfoForm {


    &>div {
        &:nth-child(2) {
            display: grid;
            grid-template-rows: repeat(9, 1fr);

            &>div {

                &:nth-child(1),
                &:nth-child(3),
                &:nth-child(5),
                &:nth-child(7) {
                    font-size: 14px;
                    line-height: 18px;
                    @include flexbox(column, center, flex-start);

                    &>ul {
                        inline-size: 100%;
                        block-size: inherit;
                    }
                }

                &:nth-child(2),
                &:nth-child(4),
                &:nth-child(6) {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);

                    &>section {
                        label {
                            font-size: 14px;
                        }

                        div {
                            block-size: 2.5rem;
                            inline-size: 90%;
                        }
                    }
                }

                &:nth-child(8) {
                    display: grid;

                    &>section {

                        label {
                            font-size: 14px;
                        }

                        div {
                            block-size: 3rem;
                            inline-size: 100%;
                        }
                    }
                }

                &:last-child {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);

                    &>div {

                        &:first-child {
                            >label {
                                font-size: 14px;

                                &:first-child {
                                    align-self: flex-end;
                                }

                                // &:last-child{}
                            }
                        }

                        &:last-child {
                            @include flexbox(row, flex-end, center);

                            >button {
                                block-size: 55%;
                            }
                        }
                    }
                }
            }
        }
    }
}

.vehicleHistory {

    &>div {

        &:nth-child(2) {
            display: flex;
            flex-direction: column;

            &>div {
                block-size: 100%;
                block-size: 5.5rem;
                @include flexbox(row, flex-start, center);

                // border: 2px solid red;
                &>section {
                    block-size: 100%;
                    inline-size: 50%;

                    &:nth-child(1) {
                        &>ul {
                            font-size: 14px;
                            line-height: 18px;
                        }

                        >label {
                            font-size: 14px;
                            line-height: 18px;
                        }

                        >div {
                            block-size: 2.5rem;
                            inline-size: 90%;
                        }
                    }

                    &:nth-child(2) {
                        @include flexbox(row, flex-start, center);
                    }
                }
            }

        }
    }
}

.vehicleDetails,.IDVerification {
    padding: 0 16px;

    &>div {

        &:nth-child(2) {
            display: flex;
            flex-direction: column;

            &>div {
                block-size: 100%;
                block-size: 5.5rem;
                @include flexbox(row, flex-start, center);
                // border: 2px solid red;

                &>section {
                    block-size: 100%;
                    inline-size: 50%;

                    // @include flexbox(column, flex-start, flex-start);
                    >div {
                        block-size: 2.5rem;
                        inline-size: 90%;
                    }

                    &:nth-child(1) {
                        &>ul {
                            font-size: 14px;
                            line-height: 18px;
                        }

                        >label {
                            font-size: 14px;
                            line-height: 18px;
                        }

                        >div {
                            block-size: 2.5rem;
                            inline-size: 90%;
                        }
                    }

                    // &:nth-child(2) {}
                }
            }

        }
    }
}