@import '../variables';

.INPUT_FIELD_CONTAINER {
    display: flex;
    align-items: center;
    width: fit-content;
    border: 1px solid $platinum;
    border-radius: 8px;
    overflow: hidden; 
    &>.INPUT_FIELD {
        background-color: $ghost-white;
        color: $jet;
        height: 100%;  
        width: 100%;
        padding: 0 1rem;
        outline: none;
        font-size: 1rem;
        border-radius: inherit;
        transition: all 0.2s ease-in-out;
        border: 1px solid $platinum;
        &:focus {
            background-color: lighten($ghost-white, 5%);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            border: 1px solid $midnight-green;
            
        }
    
        &::placeholder {
            font-size: 0.9rem;
        }
    }
}




